@using MyRecipes.Common
@using MyRecipes.Web.ViewModels.Home
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4">
        @foreach (var recipe in Model.RandomRecipes)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name"/>
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.Category</p>
                    <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4 offset-md-4">
        <p class="display-6 text-white ">We have:</p>
        <ul>
            <li class="list-group-item" style="background-color:coral">Recipes: @Model.RecipesCount</li>
            <li class="list-group-item" style="background-color: cornflowerblue">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-success" style="background-color: honeydew">Image: @Model.ImagesCount</li>
            <li class="list-group-item bg-warning" style="background-color: hotpink">Ingredients: @Model.IngredientsCount</li>
        </ul>

    </div>

</div>
