@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Environment.OSVersion</h1>
    <p><strong>Directory: </strong>@Environment.CurrentDirectory</p>
    <p>Username: <strong>@Environment.UserName</strong></p>
    <p><strong>Machine Name: </strong>@Environment.MachineName</p>
    <p><strong>Processor Count: </strong>@Environment.ProcessorCount</p>
    <p><strong>Version: </strong>@Environment.Version</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
