@using MyRecipes.Web.ViewModels.SearchRecipes
@model ListViewModel

@{
    ViewData["Title"] = "Search result";
}

<h1 class="text display-4 text-white text-center">@ViewData["Title"]</h1>

@foreach (var recipe in Model.Recipes)
{
    <div class="card col-md-4">
        <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name" />
        <div class="card-body">
            <h5 class="card-title">@recipe.Name</h5>
            <p class="card-text">@recipe.CategoryName</p>
            <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">View the recipe</a>
        </div>
    </div>
}
